html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    margin:0;
    top: 0;
}
h1{
    padding-top: 15vh;
    font-size: 7vw;
    margin: 0;

}
h2{
    font-size: 3.5rem;
    font-weight: lighter;
}
h3{
    font-size: 2rem;
    font-weight: lighter;
}

/*Header*/
header{
    top: 5vh;
    background-color: #6BA32D;
    border-radius: 25px;
    left: 0;
    width: 15vw;
    left: 2vw;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    height: 70vh;
    padding: 10vh 0;
    align-items: center;
}
header a{ 
    color: black;
    text-decoration: none;
    font-weight: 300;
    font-size: 1.5rem;
    width: 100%;
}
header div{
    width: 100%;
    margin:0 20px;
}
header a:hover{
    font-weight: normal;
}
.href{
    padding-bottom: 100px;
}

/*Container*/
.container{
    margin: 5px 25vw;
    width: 70vw;
    font-size: 1.3rem;
}


/*Équipe*/
.photo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    height: 40vh;
}
.photo div{
    height: 30vh;
    width: 20%;
}




/*Extra*/
.block{
    background-color: #96CC39;
    border-radius: 25px;
    width: 60vw;
    padding: 10px 20px;
}
.Darkblock{
    background-color: #6BA32D;
    border-radius: 25px;
}
.Roboto{
    font-family: 'Roboto', sans-serif;
}
.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
